
table{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
input.ng-touched.ng-invalid {
    border: 1px solid red;
  }
  .heading {
    text-align: center;
  }
  small {
    color: blueviolet;
  }