<nav class="navbar navbar-light bg-primary" >
    <div class="container-fluid">
        <h1>Student Fees Management System</h1>
        <div class="d-flex dlex-row-reverse" >
            <button (click)="clickAddStudent()" class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add details</button>
        </div>
    </div>
</nav>
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Student email</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Student Fees</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let value of studentAll">
      <th scope="row">{{value.id}}</th>
      <td>{{value.firstName}}</td>
      <td>{{value.lastName}}</td>
      <td>{{value.emailId}}</td>
      <td>{{value.mobile}}</td>
      <td>{{value.fees | currency : "INR"}}</td>
      <td>
              <button class="btn btn-primary m-1" (click) = "onEdit(value)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
              <button class="btn btn-danger" (click) = "deleteStudents(value)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Records</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form  [formGroup]="addDetails" (ngSubmit)="postStudentDetails()">
            <div class="form-group mb-3">
              <label>First name</label>
              <input type="text" class="form-control" formControlName="fname">
              <small *ngIf="addDetails.get('fname')!.hasError('pattern')">Enter
                only Alphabets. Digits,Special Symbols are not allowed.</small>
            </div>
            <div class="form-group mb-3">
              <label>Last name</label>
              <input type="text" class="form-control" formControlName="lname">
              <small *ngIf="addDetails.get('lname')!.hasError('pattern')">Enter
                only Alphabets. Digits,Special Symbols are not allowed.</small>
            </div>
            <div class="form-group mb-3">
              <label>Student email</label>
              <input type="email" class="form-control" formControlName="studentEmail" >
              <small *ngIf="addDetails.get('studentEmail')!.hasError('studentEmail')">Enter a valid Email Address</small>
            </div>
            <div class="form-group mb-3">
              <label>Mobile No</label>
              <input type="text" class="form-control" formControlName="mobileNo">
              <small
                *ngIf="addDetails.get('mobileNo')!.touched && addDetails.get('mobileNo')!.hasError('minlength') || addDetails.get('mobileNo')!.hasError('maxlength')||addDetails.get('mobileNo')!.hasError('pattern')">Please,
                Enter 10 digits Mobile Number(Only digits accepted)</small>
            </div>
            <div class="form-group mb-3">
              <label>Student Fees</label>
              <input type="text" class="form-control" formControlName="fees" >
              <small
                *ngIf="addDetails.get('fees')!.hasError('pattern')">Please,
                Enter digits only</small>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="clear">Close</button>
              <button *ngIf = "showAdd" type="submit" class="btn btn-primary" [disabled]="!addDetails.valid" >ADD</button>
              <button *ngIf = "showUpdate" type="submit" (click) = "updateStudentDetails()" class="btn btn-primary" [disabled]="!addDetails.valid" >UPDATE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
